# OS metadata
.DS_Store
Thumbs.db

# Editor metadata
.vscode/
!.vscode/extensions.json
.idea/

# npm
node_modules/

# API keys and secrets
.env.local
.env.*.local

# Swap files
*.swp

# dist files
dist/*
